/*
 * 開くモダールに関するCSS
 */
div[data-modal-type="sample1"] > div.modal_content {
  width: 80%;
  height : 80%;
}

div[data-modal-type="sample1"] > div.modal_content .userData {
  width : 40%;
  float : left;
}

div[data-modal-type="sample1"] > div.modal_content div {
  padding : 5px;
}

div[data-modal-type="sample1"] > div.modal_content .list {
  border-bottom : 1px dotted gray;
}
